.App {
  font-size:12px
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.btns{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.data-container{
  width: 80%;
  height: 50vh;
  background-color:#ccc;
  overflow-y: scroll;
}
.button{
  background-color:rgb(182, 121, 9);
  color: rgb(121, 32, 0);
  border:transparent;
  padding:10px 30px;
  cursor:pointer;
}
.button:hover{
  background-color:orange;

}
.button:active, .button:focus{
  transform:scale(0.9);
}

.loading{
  width:100%;
  height:100vh;
  background-color: #282c34;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:70px;
}

